* {
    margin: 0;
    padding: 0;
}
html {
    width: 100%;
}
body {
    width: 100%;
}
h1 {
    padding:10px;
    padding-top:20px;
    background-color: rgba(100,100,255,0.8);
}
h2 {
    padding:10px;
    padding-left:5px;
    background-color: #fff;
    color:darkblue;
    border-left-style: solid;
    border-left-color:darkblue;
    border-left-width: 10px;
}
h2:hover {
    background-color: #fff;
    color:red;
    border-left-style: solid;
    border-left-color:red;
    border-left-width: 10px;
    background-color: rgba(0, 0, 100, 0.01);
}
h3 {
    padding:10px;
    background-color: #fff;
    color:darkgray;
}
h4 {
    padding:10px;
    background-color: #fff;
    color:darkgray;
}
h5 {
    padding:10px;
    background-color: #fff;
    color:darkgray;
}
.code {
    background-color: black;
    color: rgba(3, 200, 255, 0.8);
    padding:10px;
}
h5.code {
    background-color: black;
    color: rgba(1, 200, 3, 0.8);
}
table {
    width: 100%;
}
th {
    background-color: rgba(0, 0, 100, 0.01);
    padding: 10px;
}
td {
    padding: 10px;
}
td:hover{
    background-color: rgba(0, 0, 100, 0.01);
}
a {
    text-decoration:none;
}
a:hover {
    opacity: 0.8;   
}
a:visited {
    color: blueviolet;
}
a:active {
    font-weight: bold;
}
a.visited {
    color: black;
    font-weight: bold;
}
p {
    padding:10px;
}
ul {
    padding:20px;
    padding-left:40px;
}
li {
    padding:10px;
    padding-left:20px;
}
li:hover {
    background-color: rgba(0, 0, 100, 0.01);
}
/* header */

header {
    width: 100%;
    padding-bottom: 30px;
}

#header_nav_menu_ul {
    background-color: #444;	
    padding: 3px;	
}
li.headerMenuList {
    display: inline; 	
    margin-right: 1em;
} 
li.headerMenuList a { 
    font-family: "Trebuchet MS", sans-serif; 
    text-decoration: none;
    color: #fff; 	 
}
li.headerMenuList a:hover{ 
    border-bottom: dotted 1px #fff;	 
}

main {
    width: 95%;

    margin: 0 auto;
    padding: 0;

    padding-top: 10px;
    padding-bottom: 10px;
}

footer {
    width: 100%;
    padding-top: 30px;
}